.mini-card{
    display: flex;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    &__img{
        width: 100px;
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        flex-shrink: 0;
    }
    &__body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 20px;
    }
    &__item-title{
        font-size: 1em;
        font-weight: 600;
    }
}