// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button{
    border: none;
    padding: .75em;
    border-radius: 3px;
    transition: background-color .2s;
    &:not(.disabled){
        cursor: pointer;
    }
}
.button-primary{
    background-color: $brand-color;
    color: $text-color-light;
    &:hover:not(.disabled){
        background-color: $brand-color-hover;
    }
}