.form-group {
  display: flex;
  flex-direction: column;
}

input{
  position: relative;
  margin-bottom: 1.5em;
}
input.input-text {
  border-radius: 3px;
  border: 1px solid $dark-grey;
  padding: 0.35em 0.5em;
}
input:focus {
  outline-color: $brand-color;
}
.input__error-text{
  position: absolute;
  bottom: 0;
  color: $brand-color;
}
