@import '../../stylesheets/abstracts/variables';

.fixed-cart{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: transform .2s;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);

    @media screen and (max-width: 767px) {
        width: 100%;
    }

    &__toggler{
        width: 10px;
        height: 10px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: rotate(-45deg);
    }
    &--hidden{
        transform: translateY(calc(100% - 52px));
        @media screen and (max-width: 767px){
            transform: translateY(calc(100% - 49px));
        }
        .fixed-cart__toggler{
            transform: rotate(135deg) translate(50%, -50%);
        }
    }
    &__header{
        background-color: $brand-color;
        color: #fff;
        padding: 15px;
        display: flex;
        justify-content: space-between;
    }
    &__body{
        padding: 15px;
    }
    &__ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    &__li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child){
            margin-bottom: 10px;
        }
    }
    &__item-title{
        min-width: 200px;
        font-weight: 600;
    }
    &__number, &__item-size{
        color: $mid-grey;
        font-style: italic;
        font-size: calc(1em - 2px);
        font-weight: lighter;
        @media screen and (max-width: 767px) {
            font-size: 1em;
            font-weight: normal;
        }
    }
    &__buttons{
        margin-left: 20px;

        &-group{
            display: flex;
            button{
                flex-grow: 1;
            }
            margin-bottom: .25em;
        }
        button{
            padding: .25em 1em;
            white-space: nowrap;
        }

        button:not(:last-child){
            margin-right: 10px;
        }
    }
}