@import '../../stylesheets/abstracts/variables';

.modal-order{
    display: flex;
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    &__img{
        width: 360px;
        height: 360px;
        flex-shrink: 0;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @media screen and (max-width: 767px){
            margin: 0 auto;
            width: 200px;
            height: 200px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        width: 300px;

        @media screen and (max-width: 767px){
            width: 100%;
        }
    }
    &__title{
        margin-bottom: .25em;
    }
    &__details{
        color: $mid-grey;
        font-style: italic;
    }
    &__ingridients{
        flex-grow: 1;
    }
    &__number{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
        margin: 1em 0;
    }
    &__num-btn{
        border: none;
        background: none;
        width: 40px;
        cursor: pointer;
    }
    &__size-form{
        display: flex;
        justify-content: space-between;
        input[type="radio"]{
            display: none;
            &:checked + label{
                background-color: $brand-color;
                color: $text-color-light;
            }
        }
        label{
            padding: .25em .5em;
            flex-grow: 1;
            cursor: pointer;
            border: 1px solid transparent;
            transition: border-color .2s;
            text-align: center;
            &:hover{
                border-color: $brand-color;
            }
        }
    }
    &__button-to-cart{
        display: block;
        width: 100%;
    }
}